{% load static %}
<style type="text/css">
        .navbar{
            border-bottom:  #008ed6 3px solid;
            opacity: 0.9;
        }
        .search-bar{
		min-width: 300px;
        max-width: 400px;

	}

    </style>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container" >
            <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'icon.png' %}" style="height: 32px"></a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse" >
                {% if request.user.is_authenticated %}

                   <ul class="navbar-nav ml-auto " >
                    <li>
                        <div class="search-bar mr-5 " >
  	                    <form method="get">
  		                    <input class="form-control"  type="text" name="q" id="id_q" placeholder="Search...">
                    	</form>
                     </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'blogpage' %}" class="nav-link text-white">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'hall_of_fame' %}" class="nav-link text-white">Hall of Fame</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account' %}" class="nav-link text-white">Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link text-white">Logout</a>
                    </li>
                </ul>
                    {% else %}
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
                    </li>
                        <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link text-white">Register</a>
                    </li>
                </ul>

                {% endif %}
            </div>
        </div>
    </nav>
    <script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}"
</script>